{{#models}}
{{#model}}
export * from './{{{ classFilename }}}{{extensionForDeno}}'
{{/model}}
{{/models}}
// InlineHookPayload is not generated as it does not have properties set in the spec
export class InlineHookPayload {
}

