  '__WORKFLOWS': WorkflowActionProvider,
  '__RSA': AgentJsonWebKeyRsaRequest,
  '__EC': AgentJsonWebKeyECRequest,
  '__AgentJsonSigningKeyResponse__RSA': AgentJsonWebKeyRsaResponse,
  '__AgentJsonSigningKeyResponse__EC': AgentJsonWebKeyECResponse,
  '__ACTIVE_DIRECTORY': AppConfigActiveDirectory,
  '__AUTO_LOGIN': AutoLoginApplication,
  '__BASIC_AUTH': BasicAuthApplication,
  '__BOOKMARK': BookmarkApplication,
  '__BROWSER_PLUGIN': BrowserPluginApplication,
  '__OPENID_CONNECT': OpenIdConnectApplication,
  '__SAML_1_1': Saml11Application,
  '__SAML_2_0': SamlApplication,
  '__SECURE_PASSWORD_STORE': SecurePasswordStoreApplication,
  '__WS_FEDERATION': WsFederationApplication,
  '__USER_PROVISIONING': UserProvisioningApplicationFeature,
  '__INBOUND_PROVISIONING': InboundProvisioningApplicationFeature,
  '__custom_app': AuthenticatorKeyCustomApp,
  '__custom_otp': AuthenticatorKeyCustomOtp,
  '__duo': AuthenticatorKeyDuo,
  '__okta_email': AuthenticatorKeyEmail,
  '__google_otp': AuthenticatorKeyGoogleOtp,
  '__external_idp': AuthenticatorKeyExternalIdp,
  '__okta_password': AuthenticatorKeyPassword,
  '__okta_verify': AuthenticatorKeyOktaVerify,
  '__onprem_mfa': AuthenticatorKeyOnprem,
  '__phone_number': AuthenticatorKeyPhone,
  '__security_key': AuthenticatorKeySecurityKey,
  '__security_question': AuthenticatorKeySecurityQuestion,
  '__symantec_vip': AuthenticatorKeySymantecVip,
  '__smart_card_idp': AuthenticatorKeySmartCard,
  '__webauthn': AuthenticatorKeyWebauthn,
  '__yubikey_token': AuthenticatorKeyYubikey,
  '__tac': AuthenticatorKeyTac,
  '__AuthenticatorMethodBase__sms': AuthenticatorMethodSimple,
  '__AuthenticatorMethodBase__voice': AuthenticatorMethodSimple,
  '__AuthenticatorMethodBase__email': AuthenticatorMethodSimple,
  '__AuthenticatorMethodBase__push': AuthenticatorMethodPush,
  '__AuthenticatorMethodBase__signed_nonce': AuthenticatorMethodSignedNonce,
  '__AuthenticatorMethodBase__totp': AuthenticatorMethodTotp,
  '__AuthenticatorMethodBase__otp': AuthenticatorMethodOtp,
  '__AuthenticatorMethodBase__password': AuthenticatorMethodSimple,
  '__AuthenticatorMethodBase__webauthn': AuthenticatorMethodWebAuthn,
  '__AuthenticatorMethodBase__security_question': AuthenticatorMethodSimple,
  '__AuthenticatorMethodBase__idp': AuthenticatorMethodWithVerifiableProperties,
  '__AuthenticatorMethodBase__duo': AuthenticatorMethodWithVerifiableProperties,
  '__AuthenticatorMethodBase__cert': AuthenticatorMethodWithVerifiableProperties,
  '__AuthenticatorMethodBase__tac': AuthenticatorMethodTac,
  '__AvailableActionProvider__WORKFLOWS': WorkflowAvailableActionProvider,
  '__BehaviorRule__ANOMALOUS_LOCATION': BehaviorRuleAnomalousLocation,
  '__BehaviorRule__ANOMALOUS_IP': BehaviorRuleAnomalousIP,
  '__BehaviorRule__ANOMALOUS_DEVICE': BehaviorRuleAnomalousDevice,
  '__BehaviorRule__VELOCITY': BehaviorRuleVelocity,
  '__BehaviorRule__ANOMALOUS_ASN': BehaviorRuleASN,
  '__ACCESS_POLICY': AccessPolicy,
  '__MFA_ENROLL': AuthenticatorEnrollmentPolicy,
  '__OKTA_SIGN_ON': OktaSignOnPolicy,
  '__PASSWORD': PasswordPolicy,
  '__PROFILE_ENROLLMENT': ProfileEnrollmentPolicy,
  '__DEVICE_SIGNAL_COLLECTION': DeviceSignalCollectionPolicy,
  '__WINDOWS': DeviceAssuranceWindowsPlatform,
  '__MACOS': DeviceAssuranceMacOSPlatform,
  '__CHROMEOS': DeviceAssuranceChromeOSPlatform,
  '__IOS': DeviceAssuranceIOSPlatform,
  '__ANDROID': DeviceAssuranceAndroidPlatform,
  '__BY_DATE_TIME': ByDateTimeAuthenticatorGracePeriodExpiry,
  '__BY_SKIP_COUNT': BySkipCountAuthenticatorGracePeriod,
  '__RUN_WORKFLOW': EntityRiskPolicyRuleActionRunWorkflow,
  '__TERMINATE_ALL_SESSIONS': EntityRiskPolicyRuleActionTerminateAllSessions,
  '__InlineHookChannel__HTTP': InlineHookChannelHttp,
  '__InlineHookChannel__OAUTH': InlineHookChannelOAuth,
  '__InlineHookChannelCreate__HTTP': InlineHookChannelHttpCreate,
  '__InlineHookChannelCreate__OAUTH': InlineHookChannelOAuthCreate,
  '__client_secret_post': InlineHookOAuthClientSecretConfig,
  '__private_key_jwt': InlineHookOAuthPrivateKeyJwtConfig,
  '__InlineHookOAuthChannelConfigCreate__client_secret_post': InlineHookOAuthClientSecretConfigCreate,
  '__InlineHookOAuthChannelConfigCreate__private_key_jwt': InlineHookOAuthPrivateKeyJwtConfig,
  '__aws_eventbridge': LogStreamAws,
  '__splunk_cloud_logstreaming': LogStreamSplunk,
  '__LogStreamPutSchema__aws_eventbridge': LogStreamAwsPutSchema,
  '__LogStreamPutSchema__splunk_cloud_logstreaming': LogStreamSplunkPutSchema,
  '__IDENTITY_ASSERTION_CUSTOM_AS': IdentityAssertionCustomASConnection,
  '__STS_VAULT_SECRET': STSVaultSecretConnection,
  '__STS_SERVICE_ACCOUNT': STSServiceAccountConnection,
  '__IDENTITY_ASSERTION_APP_INSTANCE': IdentityAssertionAppInstanceConnection,
  '__ManagedConnectionCreatable__IDENTITY_ASSERTION_CUSTOM_AS': IdentityAssertionCustomASConnectionCreatable,
  '__ManagedConnectionCreatable__STS_VAULT_SECRET': STSVaultSecretConnectionCreatable,
  '__ManagedConnectionCreatable__STS_SERVICE_ACCOUNT': STSServiceAccountConnectionCreatable,
  '__ManagedConnectionCreatable__IDENTITY_ASSERTION_APP_INSTANCE': IdentityAssertionAppInstanceConnectionCreatable,
  '__IP': IPNetworkZone,
  '__DYNAMIC': DynamicNetworkZone,
  '__DYNAMIC_V2': EnhancedDynamicNetworkZone,
  '__OAuth2ClientJsonSigningKeyRequest__RSA': OAuth2ClientJsonWebKeyRsaRequest,
  '__OAuth2ClientJsonSigningKeyRequest__EC': OAuth2ClientJsonWebKeyECRequest,
  '__OAuth2ClientJsonSigningKeyResponse__RSA': OAuth2ClientJsonWebKeyRsaResponse,
  '__OAuth2ClientJsonSigningKeyResponse__EC': OAuth2ClientJsonWebKeyECResponse,
  '__BILLING': OrgBillingContactType,
  '__TECHNICAL': OrgTechnicalContactType,
  '__Policy__ACCESS_POLICY': AccessPolicy,
  '__Policy__IDP_DISCOVERY': IdpDiscoveryPolicy,
  '__Policy__MFA_ENROLL': AuthenticatorEnrollmentPolicy,
  '__Policy__OKTA_SIGN_ON': OktaSignOnPolicy,
  '__Policy__PASSWORD': PasswordPolicy,
  '__Policy__PROFILE_ENROLLMENT': ProfileEnrollmentPolicy,
  '__Policy__POST_AUTH_SESSION': PostAuthSessionPolicy,
  '__Policy__ENTITY_RISK': EntityRiskPolicy,
  '__Policy__SESSION_VIOLATION_DETECTION': SessionViolationDetectionPolicy,
  '__PolicyRule__ACCESS_POLICY': AccessPolicyRule,
  '__PolicyRule__PASSWORD': PasswordPolicyRule,
  '__PolicyRule__PROFILE_ENROLLMENT': ProfileEnrollmentPolicyRule,
  '__PolicyRule__SIGN_ON': OktaSignOnPolicyRule,
  '__PolicyRule__IDP_DISCOVERY': IdpDiscoveryPolicyRule,
  '__PolicyRule__POST_AUTH_SESSION': PostAuthSessionPolicyRule,
  '__PolicyRule__ENTITY_RISK': EntityRiskPolicyRule,
  '__PolicyRule__MFA_ENROLL': AuthenticatorEnrollmentPolicyRule,
  '__PolicyRule__SESSION_VIOLATION_DETECTION': SessionViolationDetectionPolicyRule,
  '__PostAuthSessionFailureActionsObject__RUN_WORKFLOW': PostAuthSessionPolicyRuleRunWorkflow,
  '__PostAuthSessionFailureActionsObject__TERMINATE_SESSION': PostAuthSessionPolicyRuleTerminateSession,
  '__PotentialConnection__IDENTITY_ASSERTION_CUSTOM_AS': PotentialIdentityAssertionCustomASConnection,
  '__PotentialConnection__STS_VAULT_SECRET': PotentialSTSVaultSecretConnection,
  '__PotentialConnection__STS_SERVICE_ACCOUNT': PotentialSTSServiceAccountConnection,
  '__PotentialConnection__IDENTITY_ASSERTION_APP_INSTANCE': PotentialIdentityAssertionAppInstanceConnection,
  '__APP_ACCOUNT': PrivilegedResourceAccountAppRequest,
  '__OKTA_USER_ACCOUNT': PrivilegedResourceAccountOkta,
  '__APNS': APNSPushProvider,
  '__FCM': FCMPushProvider,
  '__self.service.registration': RegistrationInlineHookSSRData,
  '__progressive.profile': RegistrationInlineHookPPData,
  '__ResendUserFactor__call': UserFactorCall,
  '__ResendUserFactor__email': UserFactorEmail,
  '__ResendUserFactor__sms': UserFactorSMS,
  '__EXPRESSION': SamlAttributeStatementExpression,
  '__GROUP': SamlAttributeStatementGroup,
  '__ServiceAccount__APP_ACCOUNT': ServiceAccountDetailsAppAccount,
  '__ServiceAccount__OKTA_USER_ACCOUNT': ServiceAccountDetailsOktaUserAccount,
  '__UserFactor__call': UserFactorCall,
  '__UserFactor__email': UserFactorEmail,
  '__UserFactor__push': UserFactorPush,
  '__UserFactor__question': UserFactorSecurityQuestion,
  '__UserFactor__sms': UserFactorSMS,
  '__UserFactor__token': UserFactorToken,
  '__UserFactor__token:hardware': UserFactorTokenHardware,
  '__UserFactor__token:hotp': UserFactorTokenHOTP,
  '__UserFactor__token:software:totp': UserFactorTokenSoftwareTOTP,
  '__UserFactor__u2f': UserFactorU2F,
  '__UserFactor__web': UserFactorWeb,
  '__UserFactor__webauthn': UserFactorWebAuthn,
  '__UserFactorActivateResponse__call': UserFactorCall,
  '__UserFactorActivateResponse__email': UserFactorEmail,
  '__UserFactorActivateResponse__sms': UserFactorSMS,
  '__UserFactorActivateResponse__push': UserFactorPush,
  '__UserFactorActivateResponse__token:software:totp': UserFactorTokenSoftwareTOTP,
  '__UserFactorActivateResponse__u2f': UserFactorU2F,
  '__UserFactorActivateResponse__webauthn': UserFactorWebAuthn,
  '__WAITING': UserFactorPushTransactionWaitingNoNMC,
  '__WAITING (with number matching challenge)': UserFactorPushTransactionWaitingNMC,
  '__SUCCESS': UserFactorPushTransactionSuccess,
  '__REJECTED': UserFactorPushTransactionRejected,
  '__TIMEOUT': UserFactorPushTransactionTimeout,
  '__HIGH': UserRiskLevelExists,
  '__MEDIUM': UserRiskLevelExists,
  '__LOW': UserRiskLevelExists,
  '__NONE': UserRiskLevelNone,
  '__ValidationDetailProvider__WORKFLOWS': WorkflowsValidationDetailProvider,
  '__ASSURANCE': AssuranceMethod,
  '__AUTH_METHOD_CHAIN': AuthenticationMethodChainMethod,
  '__ID_PROOFING': IdProofingMethod,