  'AUTO_LOGIN': AutoLoginApplication,
  'BASIC_AUTH': BasicAuthApplication,
  'BOOKMARK': BookmarkApplication,
  'BROWSER_PLUGIN': BrowserPluginApplication,
  'OPENID_CONNECT': OpenIdConnectApplication,
  'SAML_1_1': SamlApplication,
  'SAML_2_0': SamlApplication,
  'SECURE_PASSWORD_STORE': SecurePasswordStoreApplication,
  'WS_FEDERATION': WsFederationApplication,
  'BehaviorRule_ANOMALOUS_LOCATION': BehaviorRuleAnomalousLocation,
  'BehaviorRule_ANOMALOUS_IP': BehaviorRuleAnomalousIP,
  'BehaviorRule_ANOMALOUS_DEVICE': BehaviorRuleAnomalousDevice,
  'BehaviorRule_VELOCITY': BehaviorRuleVelocity,
  'InlineHookChannel_HTTP': InlineHookChannelHttp,
  'InlineHookChannel_OAUTH': InlineHookChannelOAuth,
  'client_secret_post': InlineHookOAuthClientSecretConfig,
  'private_key_jwt': InlineHookOAuthPrivateKeyJwtConfig,
  'aws_eventbridge': LogStreamAws,
  'splunk_cloud_logstreaming': LogStreamSplunk,
  'ACCESS_POLICY': AccessPolicy,
  'IDP_DISCOVERY': IdentityProviderPolicy,
  'MFA_ENROLL': MultifactorEnrollmentPolicy,
  'OAUTH_AUTHORIZATION_POLICY': AuthorizationServerPolicy,
  'OKTA_SIGN_ON': OktaSignOnPolicy,
  'PASSWORD': PasswordPolicy,
  'PROFILE_ENROLLMENT': ProfileEnrollmentPolicy,
  'PolicyRule_ACCESS_POLICY': AccessPolicyRule,
  'PolicyRule_PASSWORD': PasswordPolicyRule,
  'PolicyRule_PROFILE_ENROLLMENT': ProfileEnrollmentPolicyRule,
  'PolicyRule_RESOURCE_ACCESS': AuthorizationServerPolicyRule,
  'PolicyRule_SIGN_ON': OktaSignOnPolicyRule,
  'APNS': APNSPushProvider,
  'FCM': FCMPushProvider,
  'call': CallUserFactor,
  'email': EmailUserFactor,
  'push': PushUserFactor,
  'question': SecurityQuestionUserFactor,
  'sms': SmsUserFactor,
  'token': TokenUserFactor,
  'token:hardware': HardwareUserFactor,
  'token:hotp': CustomHotpUserFactor,
  'token:software:totp': TotpUserFactor,
  'u2f': U2fUserFactor,
  'web': WebUserFactor,
  'webauthn': WebAuthnUserFactor,
  'hotp': CustomHotpUserFactor,