{
  "rules": {
    "prefer-template": "error",
    "no-useless-concat": "error",
    "quote-props": ["error", "as-needed", { "keywords": true, "unnecessary": true }]
  },
  "globals": {
    "after": true,
    "afterEach": true,
    "before": true,
    "beforeEach": true,
    "describe": true,
    "it": true
  }
}