coverage
docs/_build
node_modules
.nyc_output
.coveralls.yml
*.log
.env
.vscode
jsdocs/
jsdoc/

.envrc
.DS_Store
.idea
okta.yaml
test-reports/

.yalc
yalc.lock

src/v3/.swagger-codegen/
src/v3/.gitignore
src/v3/.npmignore
src/v3/.swagger-codegen-ignore
src/v3/git_push.sh
src/v3/README.md
src/v3/tsconfig.json

src/types/v3/.swagger-codegen/
src/types/v3/.gitignore
src/types/v3/.npmignore
src/types/v3/.swagger-codegen-ignore
src/types/v3/git_push.sh
src/types/v3/README.md
src/types/v3/tsconfig.json