coverage
docs/_build
node_modules
.nyc_output
.coveralls.yml
*.log
.env
.vscode
jsdocs/
api-docs/
jsdoc/

.envrc
.DS_Store
.idea
okta.yaml
test-reports/
spec/

.yalc
yalc.lock

src/generated/.swagger-codegen/
src/generated/.gitignore
src/generated/.npmignore
src/generated/.swagger-codegen-ignore
src/generated/git_push.sh
src/generated/README.md
src/generated/package.json

src/types/generated/.swagger-codegen/
src/types/generated/.gitignore
src/types/generated/.npmignore
src/types/generated/.swagger-codegen-ignore
src/types/generated/git_push.sh
src/types/generated/README.md
src/types/generated/tsconfig.json
src/types/generated/package.json
