{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "new-cap": [
      2,
      {
        "capIsNew": false,
        "properties": false
      }
    ],
    "@typescript-eslint/no-empty-interface": [
      0
    ],
    "no-use-before-define": [
      0
    ],
    "@typescript-eslint/no-explicit-any": [
      0
    ],
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }]
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ]
}
