{
  "compilerOptions": {
    "strict": true,
    /* Basic Options */
    {{#supportsES6}}
    "target": "es2020",
    "esModuleInterop": false,
    {{/supportsES6}}
    {{^supportsES6}}
    "target": "es5",
    {{/supportsES6}}
    "moduleResolution": "node",
    "declaration": true,
    "module": "commonjs",

    /* Additional Checks */
     "noUnusedLocals": false,                /* Report errors on unused locals. */ // TODO: reenable (unused imports!)
     "noUnusedParameters": false,            /* Report errors on unused parameters. */ // TODO: set to true again
     "noImplicitReturns": true,             /* Report error when not all code paths in function return a value. */
     "noFallthroughCasesInSwitch": true,    /* Report errors for fallthrough cases in switch statement. */

    "removeComments": false,
    "sourceMap": false,
    "outDir": "./",
    "noLib": false,
    {{#platforms}}
    {{#node}}
    "lib": [ "es2020" ],
    {{/node}}
    {{#browser}}
    "lib": [ "es6", "dom" ],
    {{/browser}}
    {{/platforms}}
    {{#useInversify}}
    "experimentalDecorators": true,
    {{/useInversify}}
  },
  "exclude": [
    "dist",
    "node_modules",
    "../*.d.ts"
  ],
  "include": [
    "./**/*.ts"
  ]
}
